@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Indie Flower", cursive;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}